/* slides */

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.2vw;
}

.slide, section {
	min-height: 10vh;
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-o-transition: all .8s ease;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	.button.yellow {
		color: #fff;
	}
	.arrow {
		display: none;
		position: absolute;
		bottom: -.5em;
		left: 0;
		width: 100%;
		text-align: center;
		img {
			width: 4em;
		}
		a {
			text-decoration: none;
		}
		&.arrow-right {
			display: block;
			bottom: 50%;
			margin-top: 2em;
			right: 0;
			left: auto;
			width: 4em;
		}
	}
	&.last.on-stage {
		.arrow {
			display: block;
			position: absolute;
			bottom: -.5em;
			left: 0;
			width: 100%;
			text-align: center;
			img {
				width: 4em;
			}
		}
	}
	&.last {
		.carousel {
			display: none!important;
		}
	}
}

/* offstage */
.offstage-right {
	transform: translate(100%, 0px);
	-webkit-transform: translate(100%, 0px);
	-moz-transform: translate(100%, 0px);
	-o-transform: translate(100%, 0px);
	-ms-transform: translate(100%, 0px);
	&.off-stage {
		transform: translate(-100%, 0px);
		-webkit-transform: translate(-100%, 0px);
		-moz-transform: translate(-100%, 0px);
		-o-transform: translate(-100%, 0px);
		-ms-transform: translate(-100%, 0px);
	}
}

.offstage-left {
	transform: translate(-100%, 0px);
	-webkit-transform: translate(-100%, 0px);
	-moz-transform: translate(-100%, 0px);
	-o-transform: translate(-100%, 0px);
	-ms-transform: translate(-100%, 0px);
	&.off-stage {
		transform: translate(100%, 0px);
		-webkit-transform: translate(100%, 0px);
		-moz-transform: translate(100%, 0px);
		-o-transform: translate(100%, 0px);
		-ms-transform: translate(100%, 0px);
	}
}

.offstage-bottom {
	transform: translate(0px, 100%);
	-webkit-transform: translate(0px, 100%);
	-moz-transform: translate(0px, 100%);
	-o-transform: translate(0px, 100%);
	-ms-transform: translate(0px, 100%);
	&.off-stage {
		transform: translate(0px, -100%);
		-webkit-transform: translate(0px, -100%);
		-moz-transform: translate(0px, -100%);
		-o-transform: translate(0px, -100%);
		-ms-transform: translate(0px, -100%);
	}
}

.offstage-top {
	transform: translate(0px, -100%);
	-webkit-transform: translate(0px, -100%);
	-moz-transform: translate(0px, -100%);
	-o-transform: translate(0px, -100%);
	-ms-transform: translate(0px, -100%);
	&.off-stage {
		transform: translate(0px, 100%);
		-webkit-transform: translate(0px, 100%);
		-moz-transform: translate(0px, 100%);
		-o-transform: translate(0px, 100%);
		-ms-transform: translate(0px, 100%);
	}
}

.last.off-stage {
	transform: translate(0px, -100%)!important;
	-webkit-transform: translate(0px, -100%)!important;
	-moz-transform: translate(0px, -100%)!important;
	-o-transform: translate(0px, -100%)!important;
	-ms-transform: translate(0px, -100%)!important;
}


.first.off-stage {
	transform: translate(-100%, 0px)!important;
	-webkit-transform: translate(-100%, 0px)!important;
	-moz-transform: translate(-100%, 0px)!important;
	-o-transform: translate(-100%, 0px)!important;
	-ms-transform: translate(-100%, 0px)!important;
}

.first.last.off-stage {
	transform: translate(0px, -100%)!important;
	-webkit-transform: translate(0px, -100%)!important;
	-moz-transform: translate(0px, -100%)!important;
	-o-transform: translate(0px, -100%)!important;
	-ms-transform: translate(0px, -100%)!important;
}


.on-stage {
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
}

/* fonts */

h1, h2 {
	font-family: 'garda_emptyregular';
	font-size: 4.5em;
	em {
		font-family: 'wisdom_script_airegular';
	}
}

h3 {
	font-size: 2.5em;
	em {
		font-family: 'wisdom_script_airegular';
	}
}

hgroup {
	h1, h2, h3, h4, h5 {
		margin: 0;
		padding: 0;
		font-weight: 100;
		line-height: 1em;
		display: block;
		a {
			text-decoration: none;
		}
	}
	h4 {
		font-family: 'garda_fillerregular';
		font-size: 2em;
	}
	h5 {
		font-size: 1.3em;
		font-family: 'garda_emptyregular';
	}
}

a {
	color: inherit;
}

.p-hgroup {
	font-family: 'Conv_Archer-Book-Pro';
	text-align: center;
	font-size: 2em;
	position: absolute;
	left: 5em;
	bottom: 1.5em;
	strong,
	span {
		display: block;
	}
	strong {
		font-family: 'ArcherBold';
	}
}

#header {
	position: fixed;
	z-index: 999;
	top: 1em;
	right: 5em;
	left: 5em;
	> div {
		display: table;
		width: 100%;
		> div {
			display: table-cell;
			vertical-align: top;
		}
	}
}

#logo {
	display: inline-block;
	img {
		height: 3.5em;
	}
}

#main-menu {
	text-align: right;
	color: #fff;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
		}
	}
	a {
		text-decoration: none;
		display: block;
		padding: .25em .5em;
		font-family: 'garda_emptyregular';
		font-weight: 100;
		letter-spacing: .04em;
		text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
		&.active {
			background: url('../img/active.png') bottom right no-repeat;
			background-size: auto .5em;
		}
	}
}

/* HOME */

#home-1 {
	background: url('../img/home_bg-1.jpg') center center no-repeat;
	background-size: cover;
	hgroup {
		position: absolute;
		width: 100%;
		bottom: 20%;
		padding: 0 20%;
	}
	h1, h2, h3 {
		color: #fff;
		span {
			display: block;
		}
	}
	h3 {
		em {
			display: inline-block;
			padding-top: 1em;
			background: url('../img/home-1-graphic.png') bottom right no-repeat;
			background-size: auto 100%;
			padding-right: 3em;
		}
	}
	#home-1-graphic-b {
		margin-left: -7em;
		margin-right: 6em;
		height: 6em;
		position: absolute;
		top: 2em;
	}
}

#home-2 {
	background: url('../img/home_bg-2.jpg') center center no-repeat;
	background-size: cover;
	#our-food-1-a {
		position: absolute;
		top: 5em;
		right: 5em;
		font-size: 1.5em;
		img {
			position: absolute;
			top: 0;
			right: 0;
			width: 20em;
		}
		> div {
			position: relative;
			z-index: 2;
			top: 2em;
			right: 4em;
			h3 {
				text-align: center;
			}
			h4 {
				padding-left: 2em;
			}
			h5 {
				text-align: right;
				position: relative;
				z-index: 2;
			}
			a {
				color: #fff;
				display: block;
				font-weight: 700;
			}
		}
	}
}

#home-3 {
	background: url('../img/home_bg-3.jpg') center center no-repeat;
	background-size: cover;
	#our-food-2-a {
		position: absolute;
		top: 9em;
		left: 6em;
		h2 {
			color: #ffcb04;
		}
	}
	#our-food-2-b {
		position: absolute;
		bottom: 7em;
		right: 7em;
		img {
			width: 27em;
			position: absolute;
			top: -4em;
			right: -4em;
		}
		h3 {
			color: #fff;
			text-align: right;
			font-size: 4em;
		}
		h2 {
			margin-right: -1em;
		}
		> div {
			position: relative;
			z-index: 2;
		}
	}
	.noodle {
		left: -14em;
	}
	.p-hgroup {
		color: #fff;
	}
}

#home-4 {
	background: url('../img/home_bg-4.jpg') center center no-repeat;
	background-size: cover;
	#our-food-3-a {
		position: absolute;
		left: 7em;
		top: 7em;
		text-decoration: 20em;
		img {
			max-width: 120%;
			position: absolute;
			top: 0;
			left: -5%;
		}
		> div {
			position: relative;
			z-index: 2;
			top: 5em;
			h3 {
				color: #fff;
				text-align: right;
				font-size: 4em;
				position: relative;
				top: -.25em;
			}
			h5 {
				position: relative;
				z-index: 2;
				text-align: right;
				padding-right: 2em;
				top: -1em;
				a {
					display: block;
					color: #fff;
				}
			}
		}
	}

}


#ourstory-1 {
	background: url('../img/ourstory_bg-1.jpg') center center no-repeat;
	background-size: cover;
}

#ourstory-2 {
	background: url('../img/ourstory_bg-2.jpg') center center no-repeat;
	background-size: cover;
}

#ourstory-3 {
	background: url('../img/ourstory_bg-3.jpg') center center no-repeat;
	background-size: cover;
}

#ourstory-4 {
	background: url('../img/ourstory_bg-4.jpg') center center no-repeat;
	background-size: cover;
	.panel h2 > div {
		padding-left: .5em;
		padding-top: .25em;
	}
}

#ourstory-5 {
	background: url('../img/ourstory_bg-5.jpg') center center no-repeat;
	background-size: cover;
}

#locations {
	background: url('../img/locations.jpg') center center no-repeat;
	background-size: cover;
	hgroup {
		display: block;
		text-align: center;
	}
	> div.group {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}
}

#locations-table {
	padding-top: .5em;
	width: 80%;
	margin: 0 auto;
	&:after {
		display: table;
		clear: both;
		content: '';
	}
}

.location {
	text-align: center;
	width: 33.33%;
	float: left;
	color: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 2em 3em;
	font-family: 'Conv_Archer-Book-Pro';
	img {
		width: 100%;
		box-shadow: .5em .5em 1em #000;
		margin-bottom: .25em;
	}
	.title {
		color: #000;
	}
	address, time, a[href*="tel"] {
		font-style: normal;
		display: block;
		text-decoration: none;
		padding-left: 1em;
		padding-right: 1em;
	}
	time {
		padding-top: .25em;
	}
	.title {
		font-size: 1.5em;
		font-family: 'garda_emptyregular';
	}
	.soon {
		font-size: 1.5em;
		font-weight: 700;
		text-transform: uppercase;
	}
}


.showmore {
	display: none;
}

#lets-talk {
	background: url('../img/lets-talk.jpg') center center no-repeat;
	background-size: cover;
	.panel {
		background: #fff!important;
		h2 .yellow {
			padding-left: 1em;
		}
	}
}

#family {
	background: url('../img/family.jpg') center center no-repeat;
	background-size: cover;
	h2 .yellow {
		padding-left: .5em;
	}
	.button {
		color: #fff;
	}
}

#gift-card {
	background: url('../img/gift-card.jpg') center center no-repeat;
	background-size: cover;
}


a img {
	border: none;
}

a { border: none; }


/* animations */
.fade-in,
.from-right,
.from-left,
.noodle, #footer {
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}

.delayed {
	-webkit-transition-delay: .1s;
    transition-delay: .1s;
}


.from-right {
	transform: translate(100%, 0px);
	-webkit-transform: translate(100%, 0px);
	-moz-transform: translate(100%, 0px);
	-o-transform: translate(100%, 0px);
	-ms-transform: translate(100%, 0px);
}

.from-left {
	transform: translate(-100%, 0px);
	-webkit-transform: translate(-100%, 0px);
	-moz-transform: translate(-100%, 0px);
	-o-transform: translate(-100%, 0px);
	-ms-transform: translate(-100%, 0px);
}

.slide.on-stage {

	.fade-in { opacity: 1; }

	.from-right, .from-left {
		transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
		-moz-transform: translate(0px, 0px);
		-o-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
	}

}



.noodle {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 12em;
	background: url('../img/noodle.png') 0 0 repeat-x;
	background-size: auto 100%;
	display: none;
}

.on-stage .noodle {
	display: block;
}

#social-icons {
	font-size: 1.5em;
	position: absolute;
	right: .25em;
	top: -5em;
	text-align: right;
	ul {
		list-style: none;
		li {
			display: inline-block;
			a {
				display: block;
				background: #fdba31;
				padding: .25em 0;
				width: 1.5em;
				text-align: center;
				&:hover {
					background: #faa51a;
				}
				i {
					margin: 0;
					padding: 0;
					&:after {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	}
}

#footer {
	background: #fdba31;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding-top: 2em;
	transform: translate(0px, 100%);
	-webkit-transform: translate(0px, 100%);
	-moz-transform: translate(0px, 100%);
	-o-transform: translate(0px, 100%);
	-ms-transform: translate(0px, 100%);
	padding-bottom: 1em;
	&.shown {
		transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
		-moz-transform: translate(0px, 0px);
		-o-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		.handle img {
			transform: rotate(-180deg);
			-moz-transform: rotate(-180deg);
			-webkit-transform: rotate(-180deg);
			-ms-transform: rotate(-180deg);
		}
	}
	.handle {
		position: absolute;
		top: -2em;
		right: 0;
		display: inline-block;
		float: right;
		background: #fdba31;
		padding: .3em .5em;
		padding-bottom: .5em;
		font-size: 1.5em;
		text-decoration: none;
		border-radius: .3em .3em 0 0;
		font-family: 'garda_emptyregular';
		&:after {
			display: table;
			content: '';
			clear: both;
		}
		img {
			transition: all .3s ease;
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-o-transition: all .3s ease;
		}
	}
	.tc {
		display: table;
		width: 100%;
		font-size: 1.2vw;
		&:before {
			display: block;
			content: '';
			clear: both;
		}
		> div {
			display: table-cell;
			width: 35%;
			padding: 0 2em;
			vertical-align: top;
			&:nth-child(2) {
				border-left: 1px solid #000;
				border-right: 1px solid #000;
			}
			& + div {
				width: 35%;
				& + div {
					width: 30%;
					p {
						margin-bottom: 0;
						padding-bottom: 0;
						line-height: 1.6em;
						& + p {
							padding-top: 0;
							margin-top: 0;
						}
					}
					font-family: 'ArcherBold';
					a {
						color: inherit;
					}
				}
			}
		}
	}
	nav {
		color: #fff;
		padding-top: 1em;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				float: left;
				width: 50%;
			}
			a {
				display: inline-block;
				color: inherit;
				text-decoration: none;
				padding: .25em;
				font-family: 'garda_emptyregular';
			}
		}
	}
	h4 {
		margin: 0;
		font-family: 'garda_emptyregular';
		padding: 0;
		font-weight: 100;
		font-size: 1.8em;
		margin-top: -.5em;
		margin-bottom: .5em;
	}
}

#footer-logo {
	width: 275px;
	display: block;
	img {
		max-width: 100%;
	}
}

form {
	font-family: 'ArcherBold';
	input,
	select,
	textarea {
		background: #fff;
		border: none;
		height: 2.25em;
		padding: 0 1em;
		font-size: inherit;
		-webkit-appearance: none;
		-moZ-appearance: none;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		font-family: 'ArcherBold';
		&:not([type="submit"]) {
			display: block;
			box-shadow: inset .2vw .2vw .5vw rgba(0,0,0, .3);
			width: 100%;
		}
	}
	label {
		display: block;
		padding-top: .2em;
	}
	input[type="submit"] {
		float: right;
	}
	textarea {
		height: 5em;
	}
	select {
		background: #fff url('../img/select.png') no-repeat;
		background-size: 5% auto;
		background-position: 97% center;
	}
}

.form-field {
	margin-bottom: .5em;
}

.half {
	float: left;
	width: 50%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	pading-right: .5em;
	& + .half {
		padding-right: 0;
		padding-left: .53em;
	}
}

.clearfix {
	&:before {
		display: table;
		content: '';
		clear: both;
	}
}


input[type="submit"],
input[type="button"],
.button,
.showmore {
	background: #fff;
	border: none;
	height: 2.25em;
	padding: 0 1em;
	font-size: inherit;
	-webkit-appearance: none;
	-moZ-appearance: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'garda_emptyregular';
	color: #fdba31;
	text-decoration: none;
	&.yellow {
		background: #fdba31;
		color: #000;
	}
}

.showmore {
	background: #fdba31;
	color: #000;
	height: auto;
}

#copy a {
	text-decoration: none;
}

.panel {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	background: #fff;
	width: 40%;
	padding: 3em;
	padding-top: 6em;
	padding-bottom: 4em;
	font-family: 'Conv_Archer-Book-Pro';
	line-height: 1.6em;
	&.noodles {
		width: 35%;
		background: #fff url('../img/noodle-f.png') bottom right no-repeat;
		background-size: auto 40%;
	}
	&.panel-right {
		left: auto;
		right: 0;
		padding-top: 3em;
		&.noodles {
			width: 35%;
			background: #fff url('../img/noodle-f.png') bottom left no-repeat;
			background-size: auto 40%;
		}
	}
	h2 {
		margin: 0;
		padding: 0;
		font-size: 2.5em;
		padding-top: .5em;
		font-weight: 100;
		color: #fdba31;
		display: inline-block;
		div {
			padding-bottom: .25em;
		}
		.black {
			color: #000;
		}
		&.underline {
			background: url('../img/active.png') bottom right repeat-x;
			background-size: auto .2em;
			padding-bottom: .3em;
			padding-right: .25em;
		}
	}
	h3 {
		padding-bottom: 0;
		margin-bottom: 0;
		font-weight: 100;
		color: #fdba31;
		font-size: 1.8em;
	}
}

.extended, .extended.noodles, .panel.panel-right.extended, .panel.panel-right.extended.noodles {
	width: 65%;
	margin-left: -34%;
	> div {
		width: 50%;
		float: right;
	}
	.readmore {
		display: block;
		width: 50%;
		position: absolute;
		left: 0;
		top: 0;
		padding: 3em;
		padding-top: 7em;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.showmore {
		display: inline-block;
	}
	&.shownmore {
		margin-right: 0!important;
		margin-left: 0!important;
	}
	&.panel-right {
		margin-right: -34%;
		margin-left: 0;
		> div {
			float: none;
		}
		.readmore {
			left: auto;
			right: 0;
		}
	}
}

.thin {
	font-family: 'garda_fillerregular';
	font-weight: 100;
}

.white {
	color: #fff;
}

.yellow {
	color: #fdba31;
}

#manefesto {
	position: absolute;
	top: 5em;
	right: 5em;
	max-width: 40%;
	max-height: 80vh;
}

#freedom {
	position: absolute;
	top: 7em;
	left: 5em;
	max-width: 50%;
	position: absolute;
	top: 8em;
	left: 3em;
	max-height: 70vh;
}

#community-logos-1 {
	position: absolute;
	top: 10em;
	width: 36%;
	right: 10em;
	margin-left: 100%;
}


#community-logos-2 {
	position: absolute;
	top: 20em;
	width: 33%;
	right: 7em;
}

#nemours {
	width: 15em;
	padding-top: 2em;
}

.text-right {
	text-align: right;
}

.red {
	color: #a33827;
}

#press-box {
	padding-top: 0;
	position: relative;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	.news-item {
		float: left;
		width: 50%;
		text-align: center;
		padding: 1em;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		border-bottom: 1px solid #000;
		& + div {
			border-left: 1px solid #000;
			& + div {
				border-left: none;
				border-bottom: none;
				& + div {
					border-bottom: none;
					border-left: 1px solid #000;
				}
			}
		}
		.img {
			height: 5em;
			background: url('../img/logo.png') center center no-repeat;
			background-size: contain;
			margin-bottom: 1em;
		}
		.title {
			font-family: 'garda_emptyregular';
		}
	}
	.press-arrow {
		position: absolute;
		top: 50%;
		width: 1em;
		height: 1em;
		margin-top: -.5em;
		&.left {
			left: -1em;
			border-left: 1px solid #000;
			border-bottom: 1px solid #000;
			transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
		}
		&.right {
			right: -1em;
			border-right: 1px solid #000;
			border-bottom: 1px solid #000;
			transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
		}
	}
}

.carousel {
	position: absolute;
	bottom: 1em;
	width: 100%;
	text-align: center;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			margin: 0 .25em;
			a {
				display: block;
				text-indent: -500em;
				width: 1em;
				height: 1em;
				background: #fff;
				border-radius: 500em;
				&.active {
					background: #faa51a;
				}
			}
		}
	}
}

#home-1-graphic-c {
	height: .75em;
	display: inline-block;
}

#home-1-graphic-d {
	display: inline-block;
	margin-top: -.35em;
	height: 1.25em;
}